@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-Light.woff") format("woff"), url("../fonts/Merriweather-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat.woff") format("woff"), url("../fonts/Montserrat.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/proximanova-bold.woff") format("woff"), url("../fonts/proximanova-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Light.woff") format("woff"), url("../fonts/RobotoCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1055px;
  margin: 0 auto;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._ibg {
  background-size: cover;
  background-repeat: no-repeat;
}

._ibg img {
  display: none;
}

.title-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  position: relative;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  color: #0f5f5c;
  margin: 0px auto;
  display: inline-block;
  text-align: center;
}

.title::after {
  content: "";
  width: 66px;
  height: 2px;
  display: block;
  margin: 15px auto 14px;
  background-color: #6fb048;
}

.subtitle {
  max-width: 460px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #83a7a5;
}

.subtitle_aboutUs {
  line-height: 22px;
  max-width: 710px;
  padding: 20px 0px 0px 0px;
}

.list {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #83a7a5;
}

.list li {
  background: url("../img/list/01.svg") left top no-repeat;
  padding: 0px 0px 10px 37px;
}

.list li:last-child {
  padding: 0px 0px 0px 37px;
}

.button {
  display: inline-block;
  padding: 0px 22px;
  background-color: #83a7a5;
  border-radius: 2px;
  text-align: center;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #6fb048;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button span {
  font-family: Montserrat;
  font-size: 13px;
  line-height: 42px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 3;
}

.header_home.fx {
  position: fixed;
  background-color: #0f5f5c;
  opacity: 0.95;
  height: 84px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_contactUs {
  position: relative;
  background-color: #fff;
}

.header_contactUs.fx {
  position: fixed;
  background-color: #83a7a5;
  opacity: 1;
  height: 84px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_contactUs.fx .icon-menu span {
  background-color: #fff;
}

.header_contactUs.fx .header__logo {
  color: #fff;
}

.header_contactUs.fx .header__phone a {
  color: #fff;
}

.header_contactUs.fx .header__link {
  color: #fff;
}

.header_contactUs .header__logo {
  color: #83a7a5;
}

.header_contactUs .header__phone a {
  color: #83a7a5;
}

.header_contactUs .header__link {
  color: #83a7a5;
}

.header__layer {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: #2d6e70;
  opacity: 0;
  z-index: 1;
}

.header__layer.active {
  opacity: 0.8;
}

.header .active:hover {
  opacity: 1;
}

.header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.header__content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 100%;
  background-color: #fff;
  opacity: 0.2;
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  font-family: ProximaNova;
  font-size: 28.8px;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px 27px 20px 0px;
  z-index: 10;
}

.header__phone {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 0px 0px;
  z-index: 10;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li {
  margin: 0px 30px 0px 0px;
}

.header__link {
  font-family: Montserrat;
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
}

.header__link:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
}

.header__button {
  display: inline-block;
  width: 110px;
  height: 32px;
  background-color: #698384;
  border-radius: 2px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.header__button:hover {
  background-color: #6fb048;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.header__button span {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 32px;
  padding: 0px 12px;
  opacity: 1;
  text-transform: uppercase;
  color: #ffffff;
}

.header__list_contactUs .header__link {
  color: #0f5f5c;
}

.phone {
  position: relative;
  padding: 0px 0px 0px 27px;
}

.phone::after {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  -webkit-transform: translate(0, -10%);
      -ms-transform: translate(0, -10%);
          transform: translate(0, -10%);
  width: 1px;
  height: 21px;
  opacity: 0.2;
  background-color: #ffffff;
}

.phone__icon {
  width: 14px;
  height: 14px;
  margin: 0px 2px 0px 0px;
}

.phone__phone {
  font-family: Montserrat;
  font-size: 13px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0px 0px 0px 0px;
}

.phone_contactUs::after {
  background-color: #0f5f5c;
}

.icon-menu {
  display: none;
}

.banner {
  position: relative;
  background: url("../img/banner/01.png") 0 0 no-repeat fixed;
  min-height: 100vh;
  z-index: 1;
}

.banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: #2d6e70;
  opacity: 0.9;
}

.banner__content {
  min-height: 100vh;
  width: 48%;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px 20px 0px;
}

.banner__title {
  padding: 90px 0px 10px 0px;
  font-size: 38px;
  line-height: 44px;
  color: #ffffff;
}

.banner__subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding: 0px 0px 22px 0px;
}

.banner__butten {
  display: block;
  width: 186px;
  padding: 15px 5px;
  background-color: #6fb048;
  border-radius: 2px;
  text-align: center;
}

.banner__butten span {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.block-1__content {
  padding: 83px 0px 50px 0px;
  max-width: 1065px;
}

.block-1__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 68px 0px 30px 0px;
}

.block-1__item {
  padding: 0px 10px 0px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
}

.block-1 span {
  position: relative;
  display: block;
  margin: 0px auto;
  width: 3px;
  height: 91px;
  background-color: #f2f2f2;
}

.block-1 span::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 3px;
  right: 0;
  top: 100%;
  background-color: #f2f2f2;
}

.block-1 span::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 3px;
  left: 0;
  top: 100%;
  background-color: #f2f2f2;
}

.block-1-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-1-item__icon {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.block-1-item__icon img {
  display: block;
}

.block-1-item__title {
  padding: 25px 0px 13px 0px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #0f5f5c;
}

.block-1-item__text {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #83a7a5;
}

.block-2__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 75px 0px;
}

.block-2__item {
  max-width: 495px;
  padding: 0px 10px 55px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-2-item__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 5px 0px 5px;
}

.block-2-item__icon {
  height: 40px;
}

.block-2-item__title {
  padding: 0px 0px 0px 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #0f5f5c;
}

.block-2-item__text {
  padding: 12px 0px 0px 0px;
  font-size: 16px;
  line-height: 20px;
  color: #0f5f5c;
}

.block-3 {
  background-color: #eef1ec;
}

.block-3__content {
  max-width: 1080px;
  margin: 0px auto;
  padding: 70px 0px 0px 0px;
}

.block-3__head {
  padding: 0px 20px 0px 20px;
}

.block-3__colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px 0px 0px;
}

.block-3__column_left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 49%;
          flex: 1 1 49%;
  padding: 0px 90px 0px 0px;
}

.block-3__column_right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 51%;
          flex: 1 1 51%;
  padding: 127px 0px 0px 5px;
}

.hand {
  background-image: url("../img/hand/01.png");
  background-position: 100% 0%;
  background-repeat: no-repeat;
  padding-top: 487px;
  width: 100%;
}

.column__title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  color: #0f5f5c;
}

.column__text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #83a7a5;
  padding: 22px 0px 20px 0px;
}

.block-4__content {
  padding: 140px 0px 140px 0px;
}

.block-4__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-4__column_left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 90px 0px 0px 0px;
}

.block-4__column_right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0px 0px 0px 130px;
}

.block-4__text {
  font-family: Merriweather;
  font-size: 22px;
  line-height: 40px;
  font-weight: 300;
  color: #83a7a5;
}

.block-4__profile {
  padding: 16px 0px 0px 0px;
}

.block-4__icon {
  padding: 400px 400px 0px 0px;
  border-radius: 50%;
  background-position: 50% 50%;
}

.profile-block-4__name {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: #6fb048;
}

.profile-block-4__position {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #83a7a5;
}

.block-5 {
  background-color: #eef1ec;
  position: relative;
}

.block-5::after {
  content: "";
  display: block;
  position: absolute;
  width: 47.6%;
  padding-top: 25.46667%;
  right: 0;
  top: 63px;
  background: url("../img/block-5/block-5__icon/01.png") 0 0/cover no-repeat;
}

.block-5__content {
  padding: 60px 0px 145px 0px;
}

.block-5__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-5__column_left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 51%;
          flex: 1 1 51%;
  padding: 87px 33px 0px 0px;
}

.block-5__column_right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 49%;
          flex: 1 1 49%;
}

.block-5__title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  color: #0f5f5c;
  letter-spacing: 2px;
}

.block-5__text {
  padding: 10px 0px 0px 0px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #83a7a5;
}

.block-6__content {
  max-width: 765px;
  padding: 85px 0px 40px 0px;
}

.block-6__title {
  text-align: center;
}

.block-6__subtitle {
  max-width: 520px;
}

.block-6__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 38px 0px 0px 0px;
}

.block-6__item {
  border: 1px solid #c1d3d2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
  padding: 28px 0px 30px 0px;
}

.block-6-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.block-6-item__name {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #6fb048;
  padding: 0px 0px 18px 0px;
}

.block-6-item__price {
  font-family: Montserrat;
  font-size: 65px;
  line-height: 60px;
  font-weight: 400;
  color: #0f5f5c;
}

.block-6-item__price span {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #0f5f5c;
}

.block-6-item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 0px 18px 0px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #83a7a5;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.block-6-item__butten {
  display: block;
  width: 140px;
  padding: 0px 5px;
  background-color: #83a7a5;
  border-radius: 2px;
  text-align: center;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.block-6-item__butten:hover {
  background-color: #6fb048;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.block-6-item__butten span {
  font-family: Montserrat;
  font-size: 13px;
  line-height: 41px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.block-7 {
  padding: 35px 0px 33px 0px;
}

.block-7__title {
  font-weight: 300;
  letter-spacing: 1.5px;
  font-size: 22px;
  line-height: 26px;
}

.block-7__body {
  padding: 20px 0px 0px 0px;
}

.block-7__column {
  padding: 0px 0px 0px 0px;
}

.block-7__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-7__list li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 28%;
          flex: 1 1 28%;
  max-width: 28%;
}

.block-8__content {
  max-width: 550px;
  padding: 20px 0px 105px 0px;
}

.block-8__title {
  padding: 10px 0px 0px 0px;
  color: #6fb048;
}

.block-8__body {
  text-align: center;
}

.block-8__text {
  font-size: 15px;
  line-height: 20px;
  color: #83a7a5;
  padding: 0px 0px 40px 0px;
}

.block-8__mail {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: #0f5f5c;
}

.block-9 {
  background: url("../img/banner/01.png") 0 0 no-repeat fixed;
  position: relative;
  z-index: 2;
}

.block-9::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #eef1ec;
  opacity: 0.9;
  z-index: 1;
}

.block-9__content {
  position: relative;
  z-index: 3;
  padding: 72px 0px 70px 0px;
}

.block-9__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-9__column_left {
  padding-right: 12px;
}

.block-9__title {
  font-size: 28px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #0f5f5c;
}

.block-9__subtitle {
  font-size: 15px;
  line-height: 22px;
  color: #83a7a5;
}

.block-9__butten {
  min-width: 285px;
}

.banner_aboutUs {
  background: url("../img/banner/02.png") 0 0 no-repeat fixed;
}

.banner_aboutUs::after {
  opacity: 0.7;
}

.banner__content_aboutUs {
  width: 825px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__title_aboutUs {
  font-size: 50px;
  line-height: 60px;
  font-weight: 300;
  color: #ffffff;
  padding: 72px 0px 35px 0px;
  letter-spacing: 3px;
}

.banner__butten_aboutUs {
  width: 230px;
}

.block-1_aboutUs .block-1__content {
  padding: 70px 0px 75px 0px;
}

.block-1_aboutUs span {
  display: none;
}

.team {
  background-color: #eef1ec;
  padding: 72px 0px 118px 0px;
}

.team__content {
  max-width: 1020px;
}

.team__subtitle {
  max-width: 700px;
}

.team__items {
  padding: 85px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  max-width: 300px;
  margin: 0px 5px;
  overflow: hidden;
  border-radius: 2px;
}

.team__icon {
  padding-top: 180px;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.team__icon:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.team__name {
  padding: 8px 0px 0px 0px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: #0f5f5c;
}

.team__position {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #83a7a5;
}

.block-9_aboutUs {
  background: url("../img/banner/02.png") 0 0 no-repeat fixed;
}

.block-9_aboutUs::after {
  background-color: #6fb048;
}

.block-9_aboutUs .block-9__content {
  padding: 72px 12px 72px 12px;
}

.block-9__title_aboutUs {
  color: #fff;
}

.block-9__subtitle_aboutUs {
  color: #fff;
}

.block-9__butten_aboutUs {
  color: #fff;
  background-color: #49732f;
}

.block-9__butten_aboutUs:hover {
  background-color: #83a7a5;
}

.contact-us-map {
  height: 400px;
}

.contact-us {
  padding: 75px 0px 100px 0px;
}

.contact-us__head {
  text-align: center;
}

.contact-us__subtitle {
  margin: 0px auto;
  max-width: 410px;
}

.contact-us__columns {
  padding: 78px 70px 0px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us__column_right {
  margin: 0px 0px 0px 20px;
}

.contact-us__form_button {
  display: block;
  width: 192px;
  padding: 10px 0px;
  background-color: #6fb048;
  border-radius: 3px;
  font-family: Montserrat;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.contact-us__form_button:hover {
  background-color: #698384;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.contact-us .form {
  margin: 0px 0px 0px 0px;
}

.contact-us__form .form__line {
  width: 510px;
  margin: 0px 0px 25px 0px;
  border: 1px solid #c1d3d2;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
}

.contact-us__form .form__line._focus {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.contact-us__form .form__line input {
  width: 100%;
  height: 100%;
  padding: 13px 15px;
  font-size: 14px;
  line-height: 17px;
  background-color: #ffffff;
}

.contact-us__form .form__line textarea {
  resize: none;
  width: 100%;
  height: 124px;
  background-color: #ffffff;
  padding: 13px 15px;
  font-size: 14px;
  line-height: 20px;
}

.form__line {
  position: relative;
}

.form__error {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  line-height: 14px;
  font-size: 11px;
  color: #c0301c;
}

.headquarter {
  width: 342px;
  min-height: 273px;
  background-color: #ffffff;
  border: 2px dashed #c1d3d2;
  padding: 35px 128px 20px 40px;
}

.headquarter__title {
  font-size: 22px;
  line-height: 21px;
  font-weight: 300;
  text-transform: uppercase;
  color: #0f5f5c;
  padding: 0px 0px 22px 0px;
}

.headquarter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headquarter__item img {
  display: block;
}

.headquarter__item p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #83a7a5;
  padding: 0px 0px 20px 10px;
}

.headquarter__item p span {
  color: #0f5f5c;
}

.headquarter__icon {
  height: 20px;
  width: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__columns {
  padding: 90px 0px 47px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.footer__columns::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 100%;
  background-color: #eef1ec;
}

.footer__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 0px 20px 0px 10px;
}

.footer__column:last-child {
  padding: 0px 0px 0px 22px;
}

.footer__column:first-child {
  padding: 0px 0px 0px 0px;
}

.footer__item {
  font-size: 13px;
  line-height: 20px;
  color: #83a7a5;
  padding: 5px 0px 4px 0px;
}

.footer__item a {
  font-size: 13px;
  line-height: 20px;
  color: #83a7a5;
}

.footer__item_mail span {
  color: #0f5f5c;
}

.footer__item_address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item_address span {
  display: block;
}

.footer__logo {
  font-family: ProximaNova;
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f5f5c;
  position: relative;
  -webkit-transform: translate(0, 5px);
      -ms-transform: translate(0, 5px);
          transform: translate(0, 5px);
}

.footer__item-title {
  font-size: 13px;
  line-height: 32px;
  font-weight: 500;
  color: #0f5f5c;
}

.form-footer {
  position: relative;
  display: inline-block;
  margin: 11px 36px 0px 0px;
}

.form-footer__btn {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 0;
  left: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-footer__btn img {
  display: block;
}

.input {
  width: 201px;
  height: 36px;
  background-color: #eef1ec;
  border-radius: 3px;
  font-size: 13px;
  line-height: 18px;
  color: #83a7a5;
  padding: 0px 0px 0px 12px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0px 18px;
}

.footer__bottom p {
  font-size: 12px;
  line-height: 30px;
  color: #83a7a5;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px 0px 0px;
}

.footer__link:last-child {
  margin: 0px 0px 0px 0px;
}

.footer__link img {
  display: block;
}

.footer__link_twitter {
  background-color: #55acee;
}

.footer__link_facebook {
  background-color: #3b5998;
}

.footer__link_instagram {
  background-color: #3f729b;
}

.footer__link_dribbble {
  background-color: #ea4c89;
}

.footer__link_github {
  background-color: #333333;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1150px) {
  .block-5__column_left {
    padding: 50px 20px 0px 0px;
  }
}

@media (max-width: 1100px) {
  .block-2__item {
    padding-left: 20px;
  }

  .block-4__column_left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
    padding: 90px 0px 0px 20px;
  }

  .block-4__column_right {
    padding: 0px 0px 0px 40px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
  }
}

@media (max-width: 1080px) {
  ._container {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (max-width: 991.98px) {
  .header__column:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__logo {
    padding: 5px 12px 0px 0px;
    margin: 0px 0px 0px -21px;
  }

  .header__phone {
    margin: 0px 0px 0px 12px;
  }

  .phone {
    padding: 0px 0px 15px 18px;
  }

  .phone__phone {
    line-height: 20px;
  }

  .banner__content {
    padding: 20px 40px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .banner__title {
    text-align: center;
  }

  .banner__subtitle {
    text-align: center;
  }

  .block-2__content {
    padding: 0px 0px 30px 0px;
  }

  .block-3__column_left {
    padding-right: 6.10998%;
  }

  .block-3__column_right {
    padding-right: 20px;
  }

  .block-4__column_left {
    padding-top: 4.07332%;
  }

  .block-4__column_right {
    padding: 0px 12px 0px 20px;
  }

  .block-4__icon {
    padding-top: 100%;
    padding-right: 100%;
  }

  .block-5__content {
    padding: 60px 0px 60px 0px;
  }

  .block-5__column_left {
    padding: 0px 12px 0px 12px;
  }

  .block-8__title {
    padding: 10px 12px 0px 12px;
  }

  .block-8__text {
    padding: 0px 12px 40px 12px;
  }

  .contact-us__columns {
    display: block;
    padding: 78px 50px 0px 50px;
  }

  .contact-us__column_right {
    margin: 30px 0px 0px 0px;
  }

  .contact-us__form_button {
    margin: 0px auto;
  }

  .contact-us__form {
    width: 100%;
  }

  .contact-us__form .form__line {
    width: 100%;
  }

  .headquarter {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .header_contactUs.fx .menu__body_contactUs {
    opacity: 1;
    background-color: #83a7a5;
  }

  .header__link {
    opacity: 1;
    font-size: 18px;
    line-height: 44px;
  }

  .header__button {
    margin: 20px 0px 0px 0px;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 35px;
    height: 18px;
    cursor: pointer;
    z-index: 10;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .icon-menu_contactUs span {
    background-color: #0f5f5c;
  }

  .menu__body {
    position: relative;
    z-index: 8;
    display: block;
    position: fixed;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 90px 0px 20px 0px;
    text-align: center;
    background-color: #83a7a5;
    -webkit-transition: left 0.5s ease 0s;
    -o-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
  }

  .menu__body li {
    margin: 0px 0px 0px 0px;
  }

  .menu__body_contactUs {
    background-color: #fff;
  }

  .menu__body._active {
    left: 0;
    -webkit-transition: left 0.5s ease 0s;
    -o-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
    overflow: scroll;
  }

  .banner__title {
    font-size: 34px;
  }

  .block-1__content {
    padding: 60px 0px 30px 0px;
  }

  .block-1__subtitle {
    padding-left: 25px;
    padding-right: 25px;
  }

  .block-1__items {
    display: block;
    padding: 40px 0px 20px 0px;
  }

  .block-1__item {
    margin-bottom: 30px;
    padding: 0px 60px 0px 60px;
  }

  .block-2__content {
    padding: 0px 0px 10px 0px;
  }

  .block-2__item {
    padding-left: 60px;
    padding-right: 60px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
  }

  .block-3__content {
    padding: 40px 0px 0px 0px;
  }

  .block-3__colums {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .block-3__column_left {
    padding: 0px 0px 0px 0px;
  }

  .block-3__column_right {
    padding: 0px 20px 30px 20px;
  }

  .hand {
    background-position: -70px 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    padding-right: 100%;
  }

  .column__title {
    text-align: center;
  }

  .block-5::after {
    display: none;
  }

  .block-5__column_left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .block-5__column_right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0%;
            flex: 1 1 0%;
  }

  .block-5__title {
    text-align: center;
  }

  .block-5__text {
    text-align: justify;
  }

  .block-6__content {
    padding: 60px 0px 40px 0px;
  }

  .block-6__subtitle {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px 20px 0px 20px;
  }

  .block-6__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 38px 20px 0px 20px;
  }

  .block-6__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .block-7__list li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
    max-width: 45%;
  }

  .block-8__content {
    padding: 20px 0px 60px 0px;
  }

  .block-9__content {
    padding: 52px 12px 50px 12px;
  }

  .block-9__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block-9__column_left {
    padding: 0px 0px 20px 0px;
  }

  .block-9__title {
    text-align: center;
  }

  .block-9__subtitle {
    text-align: center;
  }

  .team {
    padding: 70px 0px;
  }

  .team__items {
    display: block;
  }

  .team__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
    max-width: 80%;
    margin: 0px auto 20px auto;
  }

  .team__icon {
    padding-top: 70%;
  }

  .contact-us__columns {
    padding: 50px 20px 0px 20px;
  }

  .footer__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 60px 0px 37px 0px;
  }

  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
    padding: 0px 12px 0px 20px;
  }

  .footer__column:last-child {
    padding: 0px 12px 0px 20px;
  }

  .footer__column:first-child {
    padding: 0px 12px 0px 20px;
  }
}

@media (max-width: 660px) {
  .block-4__content {
    padding: 90px 0px 50px 0px;
  }

  .block-4__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .block-4__column_left {
    padding: 40px 20px 0px 20px;
  }

  .block-4__column_right {
    padding: 0px 40px 0px 40px;
  }

  .block-4__text {
    text-align: justify;
  }

  .block-4__icon {
    padding-top: 100%;
    padding-right: 100%;
  }
}

@media (max-width: 479.98px) {
  .banner__title {
    font-size: 32px;
  }

  .block-1__item {
    margin-bottom: 30px;
    padding: 0px 40px 0px 40px;
  }

  .block-2__item {
    padding-left: 40px;
    padding-right: 20px;
  }

  .block-4__content {
    padding: 50px 0px;
  }

  .block-7__list li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
  }

  .team__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
    margin: 0px auto 20px auto;
  }

  .contact-us__columns {
    padding: 30px 12px 0px 12px;
  }

  .contact-us__form {
    width: 100%;
  }

  .contact-us__form_button {
    width: 100%;
  }

  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0px 12px 0px 30px;
  }

  .footer__column:last-child {
    padding: 0px 12px 0px 30px;
  }

  .footer__column:first-child {
    padding: 0px 12px 0px 30px;
  }

  .form-footer {
    width: 70%;
  }

  .form-footer__line {
    width: 100%;
  }

  .input {
    width: 100%;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__links {
    padding: 0px 0px 10px 0px;
  }
}
@supports (-webkit-appearance:none){
.list li{background:url("../img/list/01.svg") left top no-repeat}
.banner{background:url("../img/banner/01.webp") 0 0 no-repeat fixed}
.hand{background-image:url("../img/hand/01.webp")}
.block-5::after{background:url("../img/block-5/block-5__icon/01.webp") 0 0/cover no-repeat}
.block-9{background:url("../img/banner/01.webp") 0 0 no-repeat fixed}
.banner_aboutUs{background:url("../img/banner/02.webp") 0 0 no-repeat fixed}
.block-9_aboutUs{background:url("../img/banner/02.webp") 0 0 no-repeat fixed}
}

 @media (max-width: 1150px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1100px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1080px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 660px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 479.98px){

@supports (-webkit-appearance:none){

}

}
